# Environnement
#.env
#*.env.local
#.envrc

# Binaires
/bin/
/main
*.exe
*.dll
*.so
*.dylib

# Dependencies
vendor/
/go/pkg/

# Logs
*.log
*.tmp

# IDE
.idea/
.vscode/
*.swp
*.swo
.env
# Docker/K8s
**/docker-compose.override.yml
**/secrets/
**/.kube/
devops/k8s/overlays/